<h1 class="text-center my-4 display-3 main-h1">Hope is the anchor of the soul</h1>
<h2 class="text-center mb-3">Please feel free to read my posts ~</h2>


<div class="card-columns">
    <% @posts.each do |p| %>
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title"><%= link_to p.title, p %></h4>
                <p class="card-text"><%= p.body %></p>
                <p class="card-text"><small class="text-muted"><em>Last updated:</em> <%= p.updated_at.strftime("%b %d, %Y") %></small></p>
            </div>
        </div>
    <% end %>
</div>

<hr style="width: 250px;" />
<p class="text-center">"A journey of a thousand miles begins with a single step" ~ Chinese Proverb</p>