/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #f5f1e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3a3f30;
    font-family: 'Cormorant Garamond', serif;
}

p {
    color: #3a3f30;
}

p,
a,
li {    
    font-family: 'Playfair Display', serif;
}

.bg-dark {
    background-color: #4a503d !important;
}

.navbar-brand {
    color: #faf2da !important;
    font-size: 26px;
}

.nav-link {
    color: #faf2da !important;
    font-size: 18px;
}

.card {
    border-color: #999e8a !important;
}